<h1>ニコニコカレンダー</h1>
<p>ニコニコカレンダーとは、組織/チームの士気やメンバーの気持ちを見える化するツールである。略称は「ニコカレ」。</p>

<h2>概要</h2>
<p>ニコニコカレンダーでは、1日の出来事を振り返って感じた気持ち（いい感じ、まあまあ、やな感じなど。）をフェイスマークに書き表して、日々カレンダーに貼り付ける事を実践する。</p>
<p>フェイスマークには以下のようなものが使用される。</p>
<ul>
  <li>
    <p>アナログ方式</p>
    <ul>
      <li>黄色（=いい感じ）、赤（=まあまあ）、青（=やな感じ）の丸いシール</li>
      <li>上記のシールに顔を書き入れたもの</li>
      <li>カレンダーに直接顔を書き入れたもの</li>
    </ul>
  </li>
  <li>
    <p>デジタル方式</p>
    <ul>
      <li>顔文字(AA)</li>
      <li>エモーティコン</li>
    </ul>
  </li>
</ul>
<p>ニコニコカレンダーはアナログでもデジタルでも、また個人でもチームでも実践できるが、いずれの場合においてもカレンダーが見える（自然と目に入ってくる状態にしておく）ことが重要である。</p>
<h2>背景</h2>
<p>ソフトウェア開発の見える化という流れの中で、個人の気分を可視化する手法として2005年に富士通ソフトウェアテクノロジーズの黒田幸子によって発案された。その後、ソフトウェア開発チームだけではなく、それ以外の組織やチームにも有効な手法として、ソフトウェア業界を中心に口コミで広く知られるようになった。</p>
<h2>特徴</h2>
<p>ニコニコカレンダーはそのシンプルさ故に、一度説明を聞けば誰でも内容をすぐに理解する事ができる。さらに、それを実践する際の煩わしさもほとんど無いため、他の見える化のプラクティスに比べて継続しやすいという特徴を持つ。また、ニコニコカレンダーには、打ち合わせや報告書などではなかなか表に出てこないメンバーの本音の部分が表れてくるため、そのシグナルを適切に感知し対処することによって、問題の早期発見と解決に役立てる事ができる。</p>

<h1>アイコン画像の変更方法</h1>
<p><a href='http://gravatar.com/' target="_brank">gravatar.com</a>でアカウント登録して、アイコンの画像をアップロードしてください。
しばらくすると、自動的にコンテンツ内のアイコンが切り替わります。</p>

<h1>Google Chrome拡張機能</h1>
<p>インストールは<a href="<%= ENV["GOOGLE_CHROME_EXTENSION"] %>">こちら</a></p>
<%= link_to 'Back', root_path %>

