// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stamp-normal {
  display: block;
  float: left;
  width: 52px;
  height: 52px;
  background-image: image-url("3.gif");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.stamp-warning {
  display: block;
  float: left;
  width: 52px;
  height: 52px;
  background-image: image-url("1.gif");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.stamp-danger {
  display: block;
  float: left;
  width: 52px;
  height: 52px;
  background-image: image-url("3.gif");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.stamp-primary {
  display: block;
  float: left;
  width: 52px;
  height: 52px;
  background-image: image-url("6.gif");
  background-repeat: no-repeat;
  background-size:100% 100%;
}
